.requirement ul{
    list-style: none;
}
.error-message{
    color:rgb(109, 10, 10);
    font-size: 14px;
    text-align: center;
}
.valid {
    color: green;
}

.invalid {
    color: red;
}
/*====== end of change pw ========*/