@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    outline:none;
    appearance: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;

}
body{
    display: flex;
}
.sidebar{
    position: sticky;
    top:0;
    left: 0;
    bottom: 0;
    width: 110px;
    height: 100vh;
    padding: 0 1.7rem;
    color: white;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(39, 39, 39, 0.7);
}

.sidebar:hover{
    width: 240px;
    transition: 0.5s;
}
.logo{
    height: 80px;
    padding: 16px;
}
.nav-logo img{
    position: absolute;
    top:10px;
    left: 10px;
    width: 180px;
    height: 100px;
}
.menu{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 300ms ease-in-out;
}
.menu li:hover,
.active{
    background: rgb(170, 165, 165);
}
.menu a{
    color: white;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.menu a span{
    overflow: hidden;   
}
.menu a i{
    font-size: 1.2rem;
}
.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}
/*===========END OF Sidebar==========*/
.main-content{
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
    margin-top: 0;
    top: 0; /*Stay at top */
}
.header-wrapper img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}
.header-wrapper p{
    color: rgb(39, 37, 37);
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
    position: relative; /*top*/
    top: 0;
    width: 100%;
}
.header-tittle{
    color: rgb(39, 37, 37);
}
.user-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.search-box{
    background-color: #ebe9e9;
    border-radius: 15px;
    color: rgb(170, 165, 165);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;   
}
.search-box input{
    background: transparent;
    padding:10px;
}
.search-box i{
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.search-box i:hover{
   transform: scale(1.2);
}
.position-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
