
    <div class="sidebar">
        <div class="logo"></div>
        <div class="nav-logo">
            <img src="assets/pictures/logo.png" alt="Fiscal Frontier" >
       </div><br>
            <ul class="menu">
                <li class="active">
                    <a href="#">
                        <i class='bx bxs-dashboard'></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/user']">
                        <i class='bx bx-user'></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/user']">
                        <i class='bx bxs-cog'></i>
                        <span>Setting</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-dashboard'></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class ="logout">
                    <a href="homepage.html">
                        <i class='bx bx-log-out'></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
    </div>

    <!------------------------End of sidebar--------------->
     <!---
    <div class="main-content">
        <div class="header-wrapper">
            <div class="header-tittle">
                <span>Primary</span>
                <h2>Dashboard</h2>
            </div>
            <div class="user-info">
                <div class="search-box">
                     <i class='bx bx-search'></i>
                     <input type="text" placeholder="Search"/>
                </div>
                <img src="assets/pictures/logo.png" atl="" />
                <p>Hi, Name</p>
            </div>
        </div>
    </div>
--->